# Dependencies and build output
node_modules/
.next/
out/
build/
.DS_Store

# Env files
.env
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript build info
*.tsbuildinfo

# Deployment
.vercel
.netlify

# Editors
.idea/
*.swp
